{% extends 'base.html.twig' %}

{% block title %} Ajouter | {{ parent() }}{% endblock %}

{% block body %}
<h1>Ajouter un article</h1>

<div class="col-4 mb-4">
{{ form_start(addArticle)}}

{{ form_widget(addArticle)}}

<button type="submit" class="btn btn-success">Ajouter</button>
{{ form_end(addArticle)}}
</div>
  
   
{% endblock %}